/* .side-menu-cont{
    background-color:pink
}
.search-cont{
    background-color:#590098
}
.banner-cont{
    background-color:#d01d9b
}
.side-menu-cont{
    background-color:blue;
}
.question-options{
    background-color: aqua;
}
.search-results-cont{
    background-color: thistle;
}
.reference-list-label{
    background-color: teal;
}
.no-matches-found-cont {
    background-color: palevioletred;
}
.no-matches-found-msg {
    background-color: papayawhip;
}
.notification-email-cont {
    background-color: rgb(225, 0, 255);
}
.notification-email-btn {
    background-color: paleturquoise;
}
.brainstorm-menu{
    background-color: red;
}
.more-search-options-btns-cont {
    background-color: rgb(234, 71, 255);
}
footer {
    background-color: royalblue;
}

.search-input-cont-placeholder{
    background-color:#850050;
}
.inner-search-place-holder{
    width:700px;height:100px;background-color:grey;position:fixed;bottom:0px;
}
.search-input-cont{
    border-color:#850050;
}
.l-b-search-input-wrapper{
    background-color:#ec21f3 !important
}
.clear-post-button-cont{
    background-color:green;
}
.likes1{
    background-color:green
}
.likes2{
    background-color:purple
}
.likes3{
    background-color:grey
}
.dislikes-btn{
    background-color:orange
}
.likes-btn{
    background-color:purple
}
.likes-and-emojis{
    background-color:blue;
}
.answer-bubble{
    background-color:red
}
.answer-bubble-cont{
    display:nonex;background-color:green
}
.question-bubble-cont{
    display:nonex;background-color:green
}
.inner-side-menu-cont{
    background-color:grey
}
.window-wrapper{
    background-color:#9acd32;
} */
